<app-navbar></app-navbar>
<div class="container main ">
  <div class="row d-flex justify-content-evenly py-5 " >
    <div
    *ngFor="let game of game"
     class="card py-3 rounded-5 my-5 " data-aos="flip-left" style="width: 18rem;" >
      <img class="rounded-5 img-fluid" src="{{game.image}}" alt="...">
      <div class="card-body">
        <p class="card-text text-center fs-5 fw-bolder ">{{game.name}}</p>
      </div>
      <div class="text-center">
        <a routerLink="/productInfo/{{game.id}}" class="nav-link"><button class="btn btn-success col-6"> buy</button></a>
      </div>
    </div>


  </div>
</div>
<app-footer></app-footer>
