<!-- Footer-->

 <!--footer-->
 <div class="footer bg-secondary">
  <div class="col-xl-8 footer-section col-lg-9 col-md-10 m-auto">
    <div class="row py-5 justify-content-between text-md-left text-center">
      <div class="col-md-4 left-section mb-5 p-0">
        <p class="col-12 m-0 p-0">
          © Copyright <span>game store</span>. All Rights Reserved
        </p>
        <p class="col-12 m-0 p-0">
          Call: +020 1158820829
        </p>
        <p class="col-12 m-0 p-0">

        </p>
      </div>
      <div class="col-md-5 right-section p-0">
        <p class="col-12 m-0 p-0">Email:ma2030g@hotmail.com</p>
        <p class="col-12 mb-2 p-0">
        </p>
        <p class="col-12 m-0 p-0">
          Re-designed by
          <a class="text-white" href="https://github.com/MohamedAymamGamal">mohamed Ayman</a>
        </p>
      </div>
      <div class="d-flex">
        <a class="fs-3"><i  class="fa-brands text-white fa-facebook  "></i></a>

      </div>
    </div>
  </div>
</div>
